@import './includes';

@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src: url("../fonts/HelveticaNeue-UltraLight.ttf"); /* EOT file for IE */
}

body {
  background-color: @color-bg;
  color: @color-text;
  font-family: 'HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
}

h1 {
    font-size: 120px;
}
