@import './includes';
@import './dev';

@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src: url("../fonts/HelveticaNeue-UltraLight.ttf"); /* EOT file for IE */
}

body {
  background-color: @color-bg;
  color: @color-text;
  font-family: 'HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
}

h1 {
    font-size: 1.8em;
}

.neste-avgang {
	.neste-avgang-tid {

		
	}

	.neste-avgang-buss {

	}

	.neste-avgang-tid,
	.neste-avgang-buss {
		display: inline-block;

		margin: 0;
		i {
			padding: 0.2em;
		}
	}
}

.app {
	padding: 0em;
	width: 480px;
	height: 320px;
	overflow: hidden;

	.laster {
		font-size: 3.5em;
		padding: 0.3em 0.5em;
	}
}

.klokke {
	font-size: 0.8em;
	display: inline-block;
}

